streamlit
python-dotenv
langchain-community
langchain
langchain-core
langchain-text-splitters
chromadb
pysqlite3-binary
tiktoken
openai==1.2.2
pinecone-client==2.0.10
streamlit-authenticator==0.1.5 
st-paywall==0.1.8
python-decouple
streamlit-pills
st-supabase-connection
st_login_form
streamlit_extras
# pip install pinecone-client --upgrade
# pip install streamlit-pills
# pip install psycopg2-binary
#